<div class="container-top-bar">
  <div class="top-bar">
    <nav class="menu-left">
      <ul>
        <li class="blogs-link"><a href="http://blog.courrierinternational.com/?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_blogs">Blogs</a></li>
        <li class="forums-link"><a href="http://forums.courrierinternational.com/?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_forum">Forums</a></li>
        <li class="icon-link facebook-link"><a href="https://www.facebook.com/Courrier-Expat-413194135539999/?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_facebook" target="_blank"><span >Facebook</span></a></li>
        <li class="icon-link twitter-link"><a href="https://twitter.com/courrierexpat?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_twitter" target="_blank"><span>Twitter</span></a></li>
        <li class="icon-link linkedin-link"><a href="https://www.linkedin.com/company/courrier-expat?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_linkedin" target="_blank"><span>Linkedin</span></a></li>
        <li class="icon-link instagram-link"><a href="https://www.instagram.com/courrierexpat/?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_instagram" target="_blank"><span>Instagram</span></a></li>
      </ul>
    </nav>
    <nav class="menu-right">
      <ul>
        <li class="ci-link"><a href="http://www.courrierinternational.com/?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_ci">Courrier international</a></li>
        <li class="ci-expat-link"><a href="http://www.courrierinternational.com/expat?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_ce">Courrier Expat</a></li>
        <li class="ci-abo-link"><a href="http://boutique.courrierinternational.com/les-offres-d-abonnement-1.html?utm_source=forums_ci&amp;utm_medium=bouton&amp;utm_campaign=header_abo">Je m’abonne</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class='wrap'>
  <div class='contents clearfix'>

    {{home-logo minimized=showExtraInfo}} {{plugin-outlet "header-after-home-logo"}}

    <div class='panel clearfix'>
      {{#unless currentUser}}
        {{#if showSignUpButton}}
          {{d-button action="showCreateAccount" class="btn-primary btn-small sign-up-button" label="sign_up"}}
        {{/if}}
        {{d-button action="showLogin" class="btn-primary btn-small login-button" icon="user" label="log_in"}}
      {{/unless}}
      <ul class='icons clearfix' role='navigation'>
        {{#if currentUser}}
          {{plugin-outlet "header-before-notifications"}}
        {{/if}}

        {{#header-dropdown iconId="search-button" icon="search" action="toggleSearch" toggleVisible=searchVisible mobileAction="fullPageSearch" loginAction="showLogin" title="search.title" path="/search" }}
        {{/header-dropdown}}

        {{#header-dropdown iconId="toggle-hamburger-menu" icon="bars" toggleVisible=hamburgerVisible loginAction="showLogin" title="hamburger_menu" }}
          {{#if flaggedPostsCount}}
            <a href='/admin/flags/active' title='{{i18n 'notifications.total_flagged'}}' class='badge-notification flagged-posts'>{{flaggedPostsCount}}</a>
          {{/if}}
        {{/header-dropdown}}

        {{#if currentUser}}
          {{#header-dropdown iconId="current-user" class="current-user" showUser="true" toggleVisible=userMenuVisible loginAction="showLogin" title="user.avatar.header_title" }}
            {{#if currentUser.unread_notifications}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-notifications'>{{currentUser.unread_notifications}}</a>
            {{/if}}
            {{#if currentUser.unread_private_messages}}
              <a href {{action "showUserMenu"}} class='badge-notification unread-private-messages'>{{currentUser.unread_private_messages}}</a>
            {{/if}}
            {{plugin-outlet "header-notifications"}}
          {{/header-dropdown}}
        {{/if}}
      </ul>
      {{plugin-outlet "header-before-dropdowns"}} {{user-menu visible=userMenuVisible logoutAction="logout"}} {{hamburger-menu visible=hamburgerVisible showKeyboardAction="showKeyboardShortcutsHelp"}} {{search-menu visible=searchVisible}}
    </div>

    {{#if showExtraInfo}}
      {{header-extra-info topic=topic}}
    {{/if}}
  </div>
</div>
{{plugin-outlet "header-under-content"}}
