.wrap {
  max-width: 1000px;
}

.sign-up-button, .login-button {
  background: #333;
}

.sign-up-button:hover, .login-button:hover {
  background-color: #0cc5a6;
}

.nav-pills > li.active > a, .nav-pills > li > a.active {
  background-color: #097C66;
}

.nav-pills > li > a:hover {
  background-color: #0cc5a6;
  color: #fff;
}

.topic-list > tbody > tr:nth-child(2n) {
  background: red !important;
}
